.card-header{
    color: rgb(24, 22, 22);
    font-weight: 500;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btnr{
    margin-right: 8px;
}

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}
